body {
	background-color: black;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.container {
	width: 100%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#content {
	background-color: rgba(255, 255, 255, 0.5);
	min-height: 400px;
	margin-top: 30px;
	padding: 15px;
}

#content img {
	width: 30%;
	margin: 1%;
	height: auto;
}